<!DOCTYPE html>
<html>
<head>
  <title>My website</title>
</head>
  <body>
    <h1> This is an Update form </h1>

   <form name="testForm" action='/Updateuser' method="post">
      <!-- Line Number : -->
      <!-- '<%= ID %>' - Outputs the value into the template (HTML escaped) -->
      <input type="hidden" name="linenumber" required value='<%= ID %>'>
      First name:<br>
      <input type="text" name="firstName" required ><br><br>
      Last name:<br>
      <input type="text" name="lastName" required ><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  
  </body>
</html>
